/* for mobile device */

@media screen and (max-width:426px) {

    /* nav style start */
    .logo-container {
        padding: 10px;
    }

    .nav-container {
        flex-direction: column;

    }

    .nav-menu-container {
        flex-direction: column;
        gap: 30px;
    }

    /* banner style start */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 100%;
        padding-left: 15px;
        padding-bottom: 70px;
        text-align: center;
    }

    .banner-img {
        width: 100%;
    }

    /* online game style start */
    .online-game-grid-container {
        grid-template-columns: 1fr;
        width: 70%;
    }

    /* play game style start */
    .play-games-container {
        flex-direction: column-reverse;
    }

    .play-games-title {
        text-align: center;
        padding: 0px;
    }

    .play-games-img {
        width: fit-content;
        margin-top: 50px;
    }
    .play-games-img img{
        width: 400px;
        height: 350px;
        padding-left: 00px;
    }
    .play-games-footer-img{
        position: relative;
        bottom: 100px;
        padding-left: 280px;
    
    }
    .play-games-footer-img img{
        width: 170px;
        height: 190px;
    }

    /* menu container style */
    .menu-container{
        min-height: 400px;
        max-width: 100%;
    }
    .menus{
        flex-basis: 50px;
    }

    /* footer section */

    .footer-support a {
        text-decoration: none;
        color: #FFF;
        font-size: 12px;
        font-weight: 600;
    }
    
    .footer-icon .fa-brands {
        padding-right: 40px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 25px;
    }
    

}



/* for tablet device */

@media screen and (min-width:426px) and (max-width:769px) {

    /* nav style */
    .logo-container {
        padding: 10px;
    }

    /* banner style */
    .banner-text {
        width: 100%;
        padding-left: 30px;
    }

    .banner-img {
        width: 100%;
    }

    /* online game style */
    .online-game-grid-container {
        grid-template-columns: repeat(2, 1fr);
        width: 70%;
    }
    /* play game style */
    .play-games-title {
        text-align: left;
        padding: 0 0 0 20px;
    }
    .play-games-img img{
        width: 300px;
        height: 250px;
        padding-left: 00px;
    }
    .play-games-footer-img{
        position: relative;
        bottom: 100px;
        padding-left: 180px;
    
    }
    .play-games-footer-img img{
        width: 170px;
        height: 190px;
    }
}