/* for mobile device */

@media screen and (max-width:426px) {

    /* nav style start */
    .logo-container {
        padding: 10px;
    }

    .nav-container {
        flex-direction: column;

    }

    .nav-menu-container {
        flex-direction: column;
        gap: 30px;
    }

    /* nav style end */

    /* banner style start */
    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-text {
        width: 100%;
        padding-left: 15px;
        padding-bottom: 70px;
        text-align: center;
    }

    .banner-img {
        width: 100%;
    }

    /* banner style end */

    /* game style start */
    .online-game-grid-container {
        grid-template-columns: 1fr;
        width: 70%;
    }
}



/* for tablet device */

@media screen and (min-width:426px) and (max-width:769px) {

    /* nav style */
    .logo-container {
        padding: 10px;
    }

    /* banner style */
    .banner-text {
        width: 100%;
        padding-left: 30px;
    }

    .banner-img {
        width: 100%;
    }

    /* game style */
    .online-game-grid-container {
        grid-template-columns: repeat(2,1fr);
        width: 70%;
    }
}